
/* Website main */
html {
    background: #FFE797;
    background-size: 1500px 1500px;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    background: #FFE797;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #84994F;
}
li {
    float: right;
}
li a {
    display: block;
    font-family: "Handjet", cursive;
    color: #FFE797;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    text-decoration: none;
}
li a:hover {
    background-color: #B45253;
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: #FFE797;
}
::-webkit-scrollbar-thumb {
    background: #B45253;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


h1 {
    font-family: "Handjet";
    color: #B45253;
    text-align: center;
    font-size: 40px;
}
article {
    color: #B45253;
    font-size: 20px;
    font-family: "Handjet", cursive;
}

* {
    box-sizing: border-box;
}



/* Recipe card */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: linear-gradient(-45deg, #FFE797);
    font-family: "Handjet";
    font-size: 1rem;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.recipe-card {
    background: #fff;
    margin: 4em auto;
    width: 90%;
    max-width: 496px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.recipe-card aside {
    position: relative;
}

.recipe-card aside img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.recipe-card article {
    padding: 1.25em 1.5em;
}

.recipe-card article ul {
    list-style: none;
    margin: 0.5em 0 0;
    padding: 0;
}

.recipe-card article ul li {
    display: inline-block;
    margin-left: 1em;
    line-height: 1em;
}

.recipe-card article ul li:first-child {
    margin-left: 0;
}

.recipe-card article ul li .icon {
    vertical-align: bottom;
}

.recipe-card article ul li span:nth-of-type(2) {
    margin-left: 1em;
    font-size: 0.8em;
    font-weight: 300;
    vertical-align: middle;
    color: #fdfdfd;
}

.recipe-card article h2, .recipe-card article h3 {
    margin: 0;
    font-weight: 300;
}

.recipe-card article h2 {
    font-size: 1.75em;
    color: #A72703;
}

.recipe-card article h3 {
    font-size: 1em;
    color: #222324;
}

.recipe-card article p {
    margin: 1.25em 0;
    font-size: 0.8em;
    font-family:"Handjet", cursive;
    text-align: justify;
    font-weight: 200;
    color: #000000;
}

.recipe-card article p span {
    font-weight: 700;
    color: #8a3939;
}

.recipe-card article .ingredients {
    margin: 2em 0 0.5em;
}




