
/* Website main */

html {
    background-image: url("./assets/mainphoto.jpg") ;
    background-size: 1500px 1500px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#84994F;
}

li {
    float: right;
}

li a {
    display: block;
    font-family: "Handjet";
    color:#FFE797;
    text-align: center;
    padding: 15px 16px;
    font-size: 20px;
    text-decoration:none;
}

li a:hover {
    background-color: #B45253;
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #FFE797;
}

::-webkit-scrollbar-thumb {
    background:#B45253;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Text and other stuff */

h1 {
    font-family: "Handjet";
    color:#FFE797;
    text-align: center;
    font-size:50px;

}


/* Welcome text */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);


.cursor{
    position: relative;
    width: 0;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);  
    font-family:"Handjet"; 
    color:#FFE797; 
}

.typewriter-animation {
  animation: typewriter 5s steps(30) 1s 1 normal both;
}
@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}
@keyframes blinkingCursor{
  from { border-right-color: rgba(255,255,255,.75); }
  to { border-right-color: transparent; }
}